<%- include('header'); -%>

    <div class="box" id="heading">
      <h1>  <%= listTitle %></h1>
    </div>

    <div class="box">

  <%    newListItem.forEach(function(item){ %>
    <form class="" action="/delete" method="post">

        <div class="item">
          <input type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%= item._id %>">
          <p> <%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
  <%    }); %>


      <form class="item" action="/" method="post">
        <input type="text" id="newItem" name="listItem" required placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle  %>>+</button>
      </form>

    </div>

      <div class="about">
        <form class="" action="/customList" method="post">
          <input type="text" id="customList" name="customList" required placeholder="Custom List Name" autocomplete="off">
          <a href="#" onclick="this.form.submit()">Go</a>
          <a class="" href="/about">About</a>
        </form>

      </div>




    <!-- <% if(2 === 3){ %>
      <h3>Hoo</h3>
    <% } else {  %>
      <h3>Ooh</h3>
  <%   } %> -->

  <%- include('footer'); -%>
